<section class="container">
  <div class="title">
    Alice's Vibe
  </div>

  <div class="form-container">
    <form>
      <mat-form-field class="input" [style.width.px]=500>
        <fa-icon [icon]="faSearch" class="input-icon"></fa-icon>
        <input class="input-field" matInput placeholder="Choose tracks" name="first">
      </mat-form-field>
    </form>
  </div>
</section>


<div class="row">
  <div class="track-square">
    <p class="track-label">TRACK 1</p>
  </div>
  <div class="track-square">
    <p class="track-label">TRACK 2</p>
  </div>
  <div class="track-square">
    <p class="track-label">TRACK 3</p>
  </div>
</div>
<div class="btn-div">
  <button mat-raised-button
    color="primary"
    class="submit-btn"
    (click)="onContinue()"
  >Continue</button>
</div>
