<section id="centered">
    <div class="app-name">
        vibing.
    </div>
    <div class="app-des">
        Create a personalised playlist for you and your friends_
    </div>

    <!-- <button mat-raised-button color="primary" class="login-btn" (click)="onLoginClick()"> -->
    <button mat-raised-button color="primary" class="login-btn" (click)="spotifyLogin()">
        <img src="../../../assets/images/spotify.svg" alt="spotify" class="spotify-icon">
        Login with Spotify
    </button>
</section>



