/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  font-size: 50px;
  font-family: 'Abhaya Libre', serif;
  font-size: 50px;
} */

.container {
  margin-top: 8%;
}

.centralised {
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  font-size: 50px;
  margin-bottom: 7%;
}

.play-btn {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  /* margin-top: 130px; */
  margin: auto;
  margin-left: auto;
  padding: 5px 20px;
  /* margin-bottom: 120px; */
}

.restart-button {
  font-size: 30px;
  margin-top: 100px;
}

.play-icon, .restart-icon {
  height: 20px;
  margin-right: 10px;
}

a:visited {color:#000000;}

#res-img {
  height: 150px;
  width: 150px;
}
