.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  font-size: 50px;
  font-family: 'Abhaya Libre', serif;
}

.title {
  font-size: 50px;
  margin-bottom: 1%;
}

.form-container {
  font-size: 16px;
}

.input {
  font-family: 'Roboto Mono', monospace;
}

.input-icon {
  text-align: center;
  position: absolute;
  padding-left: 10px;
  padding-top: 5px;
}

.input-field {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  text-align: center;
}

.track-square {
  height: 150px;
  width: 150px;
  border: 4px #c4c4c4 solid;
  margin: 5% 5%;
}

.row {
  display: flex;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
}

.track-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40%;
  color: #605959;
  font-family: 'Roboto Mono', monospace;
}

.submit-btn {
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  padding: 5px 50px;
}

.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 3%; */
}
